name: siap_tka_sd
description: "Siap TKA SD"
publish_to: 'none'

version: 0.1.3+4

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  firebase_core: ^4.1.0
  cloud_firestore: ^6.1.0
  package_info_plus: ^8.1.2
  flutter_math_fork: ^0.7.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
